

@import url(https://fonts.googleapis.com/css?family=Nova+Mono);

*{
  font-family: 'Nova Mono';
}
body{
  background-color: #060229;
}
a{
  text-decoration:none;
}
a:hover{
  background:#008870;
}
#MainBox{
  position:relative;
}
#AltBox{
  position:absolute;
  right:0; left: 0; 
  margin:auto; margin-bottom:1em;
  width: 300px; height: auto;
  background-color: #232323;
  border-radius: 10px;
  padding: 1em;
  box-shadow: 0px 0px 8px black;
}
.marca{
  text-align: right;
  color:#95a5a6;
  font-size: 12px;
  margin-top: 0;
}
.Shine{
  position:absolute;
  z-index:3;
  width:100%;
  height:40px;
  background:rgba(255,255,255,0.2);
}
.Screen{
  position:relative;
  width:100%; height: 80px;
  background-color:#db3437;
  box-shadow: inset 0px 0px 20px #34495e;
}
.igual{
  margin-bottom:-1em;
  background-color: #1260FF;
  width:100px;
  border-radius:10px;
  
}
.igual:hover{
  background-color: #1280FF;
  
}
#numbers{
  position:absolute;
  z-index: 4;
  height:100%;
  width:100%;
  border:none;
  background:transparent;
  font-size: 38px;
  padding:10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;   
  box-sizing: border-box;     
  color: rgba(2,2,2,0.7);
  text-align: right;
  
}
ul{
  position:relative;
  list-style:none;
  padding:1em;
}
ul > li{
  display:inline-block;
}
ul > li > a{
  display:block;
  text-align:center;
  line-height: 60px;
  color:white;
  width:60px; height:60px;
  font-size:26px;
  border-radius:100%;
  background:#008845;
  margin:10px 0 10px 0;
}
.credits{
  position:absolute;
  font-size:18Px;
  font-weight: bolder;
  padding-top:10px;
  padding-bottom:10px;
  color:#FFAAAA;
}

